#tags {
    padding: 0px 128px;
}
.tag {
    display: inline-block;
    height: 72px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 28px;
    margin: 0px 32px 32px 0px;
}
.tag-row {
    align-items: center;
    padding: 8px;
}
.tag-item {
    display: inline-block;
}
